.cadre {
  border-color: rgb(209, 207, 207);
  border-style: solid;
  border-radius: 15px;
  border-width: 0px 0px 3px 0px;
  background-color: white;
}

.reste-cadre {
  background-color: white;
}

.themed-grid-col {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.15);
}

.themed-grid-col-2 {
  padding: 25px;
  background-color: rgba(207, 205, 205, 0.15);
}

.themed-grid-col-suiv {
  padding: 15px;
  background-color: rgba(210, 209, 213, 0.15);
  border-radius: 15px;
}

.themed-grid-col-suiv-2 {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.container.ul.li {
  display: inline;
}

.container-imag {
  position: relative;
}

.container-imag img {
  display: block;
}

.container-imag .fa-imag {
  position: absolute;
  top: 10px;;
  left: 10px;;
}

.bouton_rot {
  position: relative;
}

.bouton_rot .bouton_rotation {
  position: absolute;
  top:50%;
}